"
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined property: Penjualan::$m_masterbarang</p>
<p>Filename: controllers/Penjualan.php</p>
<p>Line Number: 47</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\SIP\application\controllers\Penjualan.php<br />
			Line: 47<br />
			Function: _error_handler			</p>

		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\SIP\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div><br />
<b>Fatal error</b>:  Call to a member function updateDataBarang() on null in <b>C:\xampp\htdocs\SIP\application\controllers\Penjualan.php</b> on line <b>47</b><br />

<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Error</p>
<p>Message:  Call to a member function updateDataBarang() on null</p>
<p>Filename: controllers/Penjualan.php</p>
<p>Line Number: 47</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
	
		
	

</div>"